/**
* @name anOtherTheme
* @version 1.0
* @author other
* @description OtherTheme
* @source https://github.com/Oth3r/oth3r/
* @invite not-set
*/

/* default colors ig
.theme-dark,.theme-light {
    --header-primary        :             #fff;
    --header-secondary      :             #b9bbbe;
    --text-normal           :             #dcddde;
    --text-muted            :             #a3a6aa;
    --text-link             :               hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --text-link-low-saturation:             hsl(197,calc(var(--saturation-factor, 1)*100%),52.9%);
    --text-positive         :               hsl(139,calc(var(--saturation-factor, 1)*51.6%),52.2%);
    --text-warning          :               hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --text-danger           :               hsl(359,calc(var(--saturation-factor, 1)*82%),73.9%);
    --text-brand            :               hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --interactive-normal    :             #b9bbbe;
    --interactive-hover     :             #dcddde;
    --interactive-active    :             #fff;
    --interactive-muted     :             #4f545c;
    --background-primary    :             #36393f;
    --background-secondary  :             #2f3136;
    --background-secondary-alt:           #292b2f;
    --background-tertiary   :             #202225;
    --background-accent     :             #4f545c;
    --background-floating   :             #18191c;
    --background-nested-floating:         #2f3136;
    --background-mobile-primary:          #36393f;
    --background-mobile-secondary:        #2f3136;
    --background-modifier-hover:          rgba(79,84,92,0.4);
    --background-modifier-active:         rgba(79,84,92,0.6);
    --background-modifier-selected:       rgba(79,84,92,0.6);
    --background-modifier-accent:         rgba(79,84,92,0.48);
    --info-positive-background:             hsla(139,calc(var(--saturation-factor, 1)*47.3%),43.9%,0.1);
    --info-positive-foreground:             hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --info-positive-text    :             #fff;
    --info-warning-background:              hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
    --info-warning-foreground:              hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --info-warning-text     :             #fff;
    --info-danger-background:               hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.1);
    --info-danger-foreground:               hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --info-danger-text      :             #fff;
    --info-help-background  :               hsla(197,calc(var(--saturation-factor, 1)*100%),47.8%,0.1);
    --info-help-foreground  :               hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --info-help-text        :             #fff;
    --status-positive-background:           hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --status-positive-text  :             #fff;
    --status-warning-background:            hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --status-warning-text   :             #000;
    --status-danger-background:             hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --status-danger-text    :             #fff;
    --status-danger         :               hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --status-positive       :               hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --status-warning        :               hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --button-danger-background:             hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-danger-background-hover:       hsl(359,calc(var(--saturation-factor, 1)*56.3%),40.4%);
    --button-danger-background-active:      hsl(359,calc(var(--saturation-factor, 1)*56.4%),35.1%);
    --button-danger-background-disabled:    hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-positive-background:           hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-positive-background-hover:     hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --button-positive-background-active:    hsl(138,calc(var(--saturation-factor, 1)*46.9%),22.2%);
    --button-positive-background-disabled:  hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-secondary-background:        #4f545c;
    --button-secondary-background-hover:  #686d73;
    --button-secondary-background-active: #72767d;
    --button-secondary-background-disabled:#4f545c;
    --button-outline-danger-text:         #fff;
    --button-outline-danger-border:         hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --button-outline-danger-background:   hsla(0,0%,100%,0);
    --button-outline-danger-background-hover:hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-outline-danger-text-hover:   #fff;
    --button-outline-danger-border-hover:   hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-outline-danger-background-active: hsl(359,calc(var(--saturation-factor, 1)*56.7%),48%);
    --button-outline-danger-text-active:  #fff;
    --button-outline-danger-border-active: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-outline-positive-text:       #fff;
    --button-outline-positive-border:       hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --button-outline-positive-background: hsla(0,0%,100%,0);
    --button-outline-positive-background-hover: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-outline-positive-text-hover: #fff;
    --button-outline-positive-border-hover: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-outline-positive-background-active: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --button-outline-positive-text-active:#fff;
    --button-outline-positive-border-active:hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --button-outline-brand-text:          #fff;
    --button-outline-brand-border:          hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --button-outline-brand-background:    hsla(0,0%,100%,0);
    --button-outline-brand-background-hover:hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --button-outline-brand-text-hover:    #fff;
    --button-outline-brand-border-hover:    hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --button-outline-brand-background-active: hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%);
    --button-outline-brand-text-active:   #fff;
    --button-outline-brand-border-active:   hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%);
    --button-outline-primary-text:        #fff;
    --button-outline-primary-border:      #4f545c;
    --button-outline-primary-background: hsla(0,0%,100%,0);
    --button-outline-primary-background-hover: #4f545c;
    --button-outline-primary-text-hover:  #fff;
    --button-outline-primary-border-hover:#4f545c;
    --button-outline-primary-background-active: #686d73;
    --button-outline-primary-text-active: #fff;
    --button-outline-primary-border-active: #686d73;
    --scrollbar-thin-thumb  :             #202225;
    --scrollbar-thin-track  :               transparent;
    --scrollbar-auto-thumb  :             #202225;
    --scrollbar-auto-track  :               hsl(210,calc(var(--saturation-factor, 1)*9.8%),20%);
    --scrollbar-auto-scrollbar-color-thumb:#202225;
    --scrollbar-auto-scrollbar-color-track:#2f3136;
    --input-background      :             #202225;
    --input-placeholder-text:               hsl(216,calc(var(--saturation-factor, 1)*2.1%),53.9%);
    --elevation-stroke      :               0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low         :               0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium      :               0 4px 4px rgba(0,0,0,0.16);
    --elevation-high        :               0 8px 16px rgba(0,0,0,0.24);
    --logo-primary          :             #fff;
    --control-brand-foreground:             hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --control-brand-foreground-new:         hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --background-mentioned  :               hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
    --background-mentioned-hover:           hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.08);
    --background-message-hover:           rgba(4,4,5,0.07);
    --background-message-automod:           hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.05);
    --background-message-automod-hover:     hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.1);
    --channels-default      :             #96989d;
    --channel-icon          :             #8e9297;
    --channel-text-area-placeholder:      #72767d;
    --guild-header-text-shadow:             0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background:         #40444b;
    --activity-card-background:           #202225;
    --textbox-markdown-syntax:            #8e9297;
    --spoiler-revealed-background:        #292b2f;
    --spoiler-hidden-background:          #202225;
    --deprecated-card-bg    :             rgba(32,34,37,0.6);
    --deprecated-card-editable-bg:        rgba(32,34,37,0.3);
    --deprecated-store-bg   :             #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder:hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg:           #202225;
    --deprecated-text-input-border:       rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled:     #202225;
    --deprecated-text-input-prefix:       #dcddde;
}
*/

/* dividers */
.sidebar-1tnWFu{
    margin-right            :               10px;
    border-radius           :               15px !important;
}
.container-3XgAHv{
    margin-right            :               15px;
    border-radius           :               15px;
}
.threadSidebarOpen-1LSXvU{
    border-radius           :               15px !important;
}
 .guilds-2JjMmN {
     border-radius          :               15px;
 }
 .tree-3agP2X{
     border-bottom-right-radius:            15px;
     margin-bottom          :               7.5px;
 }
 .chat-2ZfjoI{
     margin-right           :              5px;
     border-radius          :               15px;
 }
.peopleColumn-1wMU14{
    background-color        :               var(--background-primary);
}
.container-2cd8Mz{
    margin-right            :               5px;
    margin-bottom           :               7.5px;
    border-radius           :               15px;
}
.peopleListItem-u6dGxF{
    transition              :               0.5s ease;
    margin-bottom           :               6px !important;
    border-radius           :               25px;
    border-color            :               transparent;
    margin                  :               0 10px 0 20px;
    padding                 :               16px 10px;
}
.pageWrapper-2PwDoS{
    margin-right            :               15px;
    height                  :               99.3%;
    border-radius           :               15px;
}
.content-1SgpWY .applicationStore-2nk7Lo{
    margin-right            :               15px;
    height                  :               99.3%;
    border-radius           :               15px;
}
.content-1SgpWY .applicationStore-2nk7Lo .scroller-29cQFV::-webkit-scrollbar{
    display                 :               none;
}
.shaker-bevRrZ .focusLock-2tveLW .root-2s1-ri, .shaker-bevRrZ .focusLock-2tveLW .root-2s1-ri .contents-1X8z-d{
    background-color        :             #191919 !important;
}
.planOptionDiscount-2nex9n, .checkbox-f1HnKB.checked-1pZh2h {
    background-color        :             #494949 !important;
    border-color            :             rgb(56, 56, 56) !important;
}

/* custom textbox */
.input-2g-os5:not(.addFriendInputWrapper-kkoSV9 .inputWrapper-1YNMmM .inputDefault-3FGxgL),
.scrollableContainer-15eg7h:not(.addFriendInputWrapper-kkoSV9 .inputWrapper-1YNMmM .inputDefault-3FGxgL), .input-3r5zZY, .input-2g-os5  {
    background-color        :             #40444b !important;
    transition              :               background-color 0.2s ease, border-color 0.2s ease !important;
    border                  :               1px solid transparent !important;
    outline                 :               none !important;
}
.input-2g-os5:not(.addFriendInputWrapper-kkoSV9 .inputWrapper-1YNMmM .inputDefault-3FGxgL):hover,
.scrollableContainer-15eg7h:not(.addFriendInputWrapper-kkoSV9 .inputWrapper-1YNMmM .inputDefault-3FGxgL):hover, .input-3r5zZY:hover, .input-2g-os5  {
    border-color            :             #5a5a5a !important;
    background-color        :             #3b3e45 !important;
    box-shadow              :
    0 0px 8px hsla(0, 0%, 42%, 0.38),
    inset 0 0 5px 2px hsla(0, 0%, 42%, 0.38);
}
.input-2g-os5:not(.addFriendInputWrapper-kkoSV9 .inputWrapper-1YNMmM .inputDefault-3FGxgL):focus-within,
.scrollableContainer-15eg7h:not(.addFriendInputWrapper-kkoSV9 .inputWrapper-1YNMmM .inputDefault-3FGxgL):focus-within, .input-3r5zZY:focus-within, .input-2g-os5  {
    border-color            :             #5a5a5a !important;
    background-color        :             #2f3237 !important;
    box-shadow              :
    0 0px 10px hsla(0, 0%, 42%, 0.38),
    inset 0 0 10px 2px hsla(0, 0%, 42%, 0.38);
}
.scrollableContainer-15eg7h:not(.addFriendInputWrapper-kkoSV9 .inputWrapper-1YNMmM .inputDefault-3FGxgL) {
    border                  :               1px solid transparent;
}
.input-3r5zZY{
    border-radius           :               15px;
    margin-bottom           :               15px;
}
[class="colorMuted-20987_ size12-oc4dx4 cta-25g9OT"], .container-2rCwVJ .clear-1JYfB5{
    display                 :               none;
}
.searchBoxInput-P0mWHW{
    color                   :             white !important;
}

/* typing/reply bar modifications */
.cooldownWrapper-2k1jHK{
    position                :               relative;
    right                   :               1%;
}
.form-3gdLxP{
    margin-top              :               19px;
}
.scrollerSpacer-3AqkT9{
    height                  :               1px;
}

/* member list hover effect */
.item-3XjbnG, .option-ayUoaq {
    transition              :               0.3s ease !important;
}
.clickable-28SzVr .layout-1qmrhw{
    border-radius           :               25px;
    transition              :               0.4s ease !important;
}
.clickable-28SzVr:hover .layout-1qmrhw {
    border-radius           :               10px;
}

/* channel hover things effect */
.modeSelected-3DmyhH .content-1gYQeQ{
    border-radius           :               5px !important;
}
.wrapper-NhbLHG .content-1gYQeQ{
    border-radius           :               25px;
}
.wrapper-NhbLHG:hover .content-1gYQeQ{
    transition              :               0.4s ease;
    border-radius           :               5px;
}
.wrapper-NhbLHG:hover .channelName-3KPsGw{
    transition              :               0.4s ease;
}
.content-1gYQeQ, .channelName-3KPsGw{
    transition              :               0.4s ease;
}

/* vc users restyle on hover */
.voiceUser-3nRK-K:hover{
    background-color        :             #3c3f45;
    border-radius           :               7px;
}
.voiceUser-3nRK-K {
    transition              :               0.5s ease;
}
.listDefault-2F-w65 .clickable-1ctZ-H:hover .content-1Tgc42{
    background-color        :               transparent !important;
}

/* banner fade out */
.userPopout-2j1gM4 .banner-1YaD3N:after, #account .banner-1YaD3N:after{
    content                 :               "";
    position                :                absolute;
    bottom                  :               0;
    left                    :               0;
    pointer-events          :               none;
    background-image        :               linear-gradient(to bottom, rgba(255,255,255, 0), #18191C 97%);
    width                   :               100%;
    height                  :               4em;
}

/* removes some stupid gradient bugs */
.form-3gdLxP::before, .children-3xh0VB:after, .option-ayUoaq:after{
    content                 :               none;
}

/* roles in popup profile */
.rolesList-3uZoaa .roleCircle-3K9O3d {
  flex-shrink: 0;
}
.roleCircle-3K9O3d {
  display: none;
}
.role-2TIOKu {
  position: relative;
  overflow: hidden;
  background: transparent;
  border-radius: 0px 0px 0px 0px;
  padding: 0px 2px 0px 2px;
  border: solid;
  border-width: 0px 0px 0px 2px;
}
.role-2TIOKu:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0px;
  border-width: 12px;
  border-style: solid;
  border-color: inherit;
  box-sizing: border-box;
  pointer-events: none;
  opacity: .3;
  transition: .5s ease;
}
.role-2TIOKu .roleName-2ZJJYR {
  padding-left: 4px;
}
.role-2TIOKu:hover:before {
  opacity: .7;
  filter: saturate(1.2);
}
.role-2TIOKu[aria-label]:not([style]) {
  font-size: 12px;
  font-weight: 500;
  background: var(--background-modifier-selected);
  -webkit-box-sizing: border-box;
  border-color: #6e85d3;
  box-sizing: border-box;
  height: 22px;
  width: 9% !important;
  margin: 0 4px 4px 0;
  padding: 4px;
  color: #6e85d3;
}
.message-2CShn3 .role-2TIOKu{
  bottom: 6px;
}


/* turns jump to present bar into a button */
[class*="jumpToPresentBar"] {
    display                 :               contents;
}
[class*="jumpToPresentBar"] > button:first-child {
    display                 :               none;
}
[class*="jumpToPresentBar"] > button:last-child {
    position                :               absolute;
    z-index                 :               1;
    bottom                  :               24px;
    right                   :               22px;
    padding                 :               8px !important;
    height                  :               auto;
    background-color        :             #4d525a;
    box-shadow              :               var(--elevation-high);
    border-radius           :               100px;
    display                 :               flex;
    font-size               :               0px;
    color                   :               transparent;
    transition              :               font-size .5s .1s, color .2s .1s, padding .4s .1s;
}
[class*="jumpToPresentBar"] > button svg {
    order                   :               -1;
    margin                  :               0px;
    height                  :               24px;
    width                   :               24px;
    top                     :               auto;
    margin-right            :               0px;
    margin-left             :               0px;
    color                   :             #FFFFFF;
    transition              :               margin .6s;
}
[class*="jumpToPresentBar"]:hover > button {
    padding                 :               8px 18px !important;
    font-size               :               14px;
    color                   :             #FFFFFF;
    transition              :               font-size .5s, color .2s .1s, padding .4s;
}
[class*="jumpToPresentBar"]:hover > button svg {
    margin-right            :               2px;
    margin-left             :               -6px;
}

/* fixes a bug in popout menu */
[placeholder="Click to add a note"]{
    width                   :               97%;
    margin-left             :               3.5px;
}

/* msgbar icon spacing */
.inner-NQg18Y .buttons-uaqb-5{
    right                   :               1px;
}

/* wide screen settings */
.sidebarRegion-1VBisG, .sidebarRegionScroller-FXiQOh {
    justify-content         :               unset;
    flex                    :               unset
}
.contentColumn-1C7as6, .customColumn-2n-oKU, .hero-1aNo0v {
    max-width               :               unset;
}
.accountProfileCard-lbN7n- {
    max-width               :               750px;
}
.notificationSettings-1U0JsJ {
    max-width               :               45%;
}
.option-2eIyOn, .searchBox-pyIJJj{
    transition              :               0.20s ease;
}

/* userpopout bug fix */
.root-8LYsGj > .topSection-13QKHs > header .headerTop-1PNKck > svg{
    margin-left: 115px;
    margin-top: -12px;
}

/*Embeds*/
.embedFull-1HGV2S{
    background-color: #2f3136;
    border: 2px solid var(--background-accent);
    border-radius: 10px;
}

/* glow on hovered messages */
.cozyMessage-1DWF9U.message-2CShn3 .markup-eYLPri:hover{
    background-color        :             rgba(44, 44, 44, 0.5);
    box-shadow              :
    0 0px 10px hsla(0, 0%, 90%, 0.5),
    inset 0 0 8px 2px hsla(0, 0%, 90%, 0.5);
    transition              :               0.3s ease;
}
/* making text glow hitbox */
.cozyMessage-1DWF9U .contents-2MsGLg>.markup-eYLPri:not(:empty) {
    background-color        :               transparent;
    display                 :               inline-block;
    margin                  :               0;
    max-width               :               100%;
    width                   :               auto !important;
    padding                 :               0px;
    border-radius           :               1px;
}

